{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartEvents</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">Smart Events</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="index.html">Inicio</a>
                    <a class="nav-link" href="eventos.html">Eventos</a>
                    <a class="nav-link" href="comunidad.html">Comunidad</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid" id="comunidad">
        <div id="com">
            <section id="fondo" class="row">
                <h2>Comentarios</h2>

                <div class="col-12 md-3 " id="nombreBox">
                    <label for="nombreInput" class="form-label">Nombre</label>
                    <input class="form-control" id="nombreInput" />
                </div>

                <div class="col-12 md-3" id="textoBox">
                    <label for="comentario" class="form-label">Comentario</label>
                    <textarea class="form-control" id="comentario"></textarea>
                </div>

                <div class="col-12">
                    <button id="publicarBtn" class="btn btn-primary mt-2">Publicar</button>
                </div>
            </section>


            <div id="listaComentarios">
                <h4>Comentarios publicados</h4>
                <ul class="list-group" id="comentariosUl"></ul>
            </div>
        </div>
    </div>
    <script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/comunidad.js' %}"></script>
</body>

</html>